<div class="container">
    <h2>Sales-department</h2>
    <button class="btn btn-sm btn-outline-success" *ngIf="!add" (click)="onAdd()">Добавить</button>
    <div *ngIf="add">
        <app-add [department]="department" (onAddWorker)=onAddWorker($event) ></app-add>
        <button class="btn btn-sm" (click)="onAdd()">Скрыть</button>
    </div>
    
    <div class="container mt-4">
        <div class="row">
            <input type="text" class="form-control col-3 mr-2" [(ngModel)]="filterParam" placeholder="firstName and lastName">
            <select type="text" class="form-control col-3 mr-2" [(ngModel)]="sortParam">
                <option value="byId1" selected>По убыванию Id</option>
                <option value="byId2"> По возрастанию Id</option>
                <option value="byAge1"> По убыванию возраст</option>
                <option value="byAge2">По возрастанию возраст</option>
            </select>
        </div>
    </div>

    
    <div class="row mb-4 mt-4" >
        <div class="col-1">ID</div>
        <div class="col-2">FirstName</div>
        <div class="col-2">LastName</div>
        <div class="col-2">Age</div>
        <div class="col-2">Email</div>
</div>
<hr>

    <div *ngIf="workers">
        <div class="row mb-4 mt-4" *ngFor="let worker of workers | filterSort : sortParam : filterParam">
            <div class="col-1">{{ worker.id }}</div>
            <div class="col-2">{{ worker.firstName }}</div>
            <div class="col-2">{{ worker.lastName }}</div>
            <div class="col-2">{{ worker.birthDay | dateToAge }}</div>
            <div class="col-2">{{ worker.email }}</div>
            <div class="col-2"><button class="btn btn-sm btn-outline-warning" [routerLink]="['edit', worker.id]">Редактировать</button></div>
            <div class="col-1"><button class="btn btn-sm btn-outline-danger" (click)=onDelete(worker.id)>Удалить</button></div>
        </div>

    </div>
</div>